[Unit]
Description=reverse UDP over TLS tunnel
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/run/reverse-udp-over-tls.pid
ExecStart= /root/reverse-udp-over-tls/reverse-udp-over-tls /root/reverse-udp-over-tls/
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target