<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Tunnel Stats</title>
    <style>
      * {
        font-family: "Roboto Mono", monospace;
      }
    </style>
  </head>

  <body
    class="bg-slate-800 text-slate-100 w-full min-h-[100svh] overflow-y-scroll"
  >
    <nav
      class="h-16 w-full shadow bg-slate-950 text-white flex justify-between items-center px-4"
    >
      <div class="max-md:font-sm font-bold">UDP Over TLS Stats</div>
    </nav>
    <div class="w-full p-4">
      <div
        class="p-4 shadow-sm w-full bg-slate-900 mb-4 rounded max-md:text-sm"
      >
        <div class="flex items-center">
          <div class="w-20">Download:</div>
          <div id="total-download">{{ .TotalDownload }}</div>
          <div class="mx-1">|</div>
          <div id="current-download">{{ .CurrentDownload }}</div>
          <div>/s</div>
        </div>
        <div class="flex items-center">
          <div class="w-20">Upload:</div>
          <div id="total-upload">{{ .TotalUpload }}</div>
          <div class="mx-1">|</div>
          <div id="current-upload">{{ .CurrentUpload }}</div>
          <div>/s</div>
        </div>
      </div>
      <div class="w-full grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
        {{ range $i, $e := .servers }}
        <div
          class="client text-sm transition-all duration-500 relative w-full my-1 p-4 bg-slate-900 rounded shadow-sm flex flex-col max-h-[60px] overflow-hidden"
        >
          <button
            class="expand-button transition-all duration-500 absolute top-5 right-5 w-4 h-4 border-r-4 border-b-4 rotate-45"
          ></button>
          <div class="flex items-center font-bold text-lg">
            <div class="text-yellow-500">{{ .ClientAddress }}</div>
            <div class="w-1.5 h-1.5 mx-1.5 bg-slate-500 rounded-full"></div>
            <div
              class="status text-red-500 uppercase"
              id="{{ .ClientAddress }}-status"
            >
              {{ .Status }}
            </div>
          </div>
          <div class="w-full bg-slate-800 h-0.5 my-2"></div>
          <div class="flex flex-col max-md:text-xs">
            <div class="flex">
              <div
                class="font-bold text-blue-500"
                id="{{ .ClientAddress }}-accepted-connections"
              >
                {{ .AcceptedConnections }}
              </div>
              <div>/</div>
              <div
                class="font-bold"
                id="{{ .ClientAddress }}-attempted-connections"
              >
                {{ .AttemptedConnections }}
              </div>
              <div class="ml-1">Connections Accepted</div>
            </div>
            <div class="flex my-1">
              <div
                class="font-bold text-blue-500"
                id="{{ .ClientAddress }}-active-connections"
              >
                {{ .ActiveConnections }}
              </div>
              <div class="ml-1">Active Connections</div>
            </div>
            <div class="flex">
              <div class="mr-1">Lastest connection was</div>
              <div
                class="font-bold text-blue-500"
                id="{{ .ClientAddress }}-latest-connection"
              >
                {{ .LatestConnection }}
              </div>
              <div class="ml-1">ago</div>
            </div>
          </div>
          <div class="w-full bg-slate-800 h-0.5 my-2"></div>
          <div class="flex flex-col w-full">
            <div class="w-full flex items-center">
              <div class="mr-1 w-24">Download :</div>
              <div id="{{ .ClientAddress }}-total-download">
                {{ .TotalDownload }}
              </div>
              <div class="w-1 h-1 mx-2 bg-slate-500 rounded-full"></div>
              <div id="{{ .ClientAddress }}-current-download">
                {{ .CurrentDownload }}
              </div>
              <div>/S</div>
            </div>
            <div class="flex items-center">
              <div class="mr-1 w-24">Upload :</div>
              <div id="{{ .ClientAddress }}-total-upload">
                {{ .TotalUpload }}
              </div>
              <div class="w-1 h-1 mx-2 bg-slate-500 rounded-full"></div>
              <div id="{{ .ClientAddress }}-current-upload">
                {{ .CurrentUpload }}
              </div>
              <div>/S</div>
            </div>
          </div>
          <div class="w-full bg-slate-950 rounded mt-2 min-h-96">
            <canvas id="{{ .ClientAddress }}-chart"></canvas>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <script defer>
      function formatSeconds(totalSeconds, noPrefix = true) {
        if (!totalSeconds) return "unknown";
        totalSeconds = Math.trunc(totalSeconds - Date.now() / 1000);
        const prefix = totalSeconds < 0 && !noPrefix ? "-" : "";
        totalSeconds = Math.abs(totalSeconds);
        if (totalSeconds / 60 < 1) return prefix + totalSeconds + " seconds";
        const totalMinutes = Math.trunc(totalSeconds / 60);
        if (totalMinutes / 60 < 1) return prefix + totalMinutes + " minutes";
        const totalHours = Math.trunc(totalMinutes / 60);
        if (totalHours / 24 < 1) return prefix + totalHours + " hours";
        return prefix + Math.trunc(totalHours / 24) + " days";
      }

      function formatBytes(totalBytes) {
        if (!totalBytes) return "00.00 KB";
        const totalKilos = totalBytes / 1024;
        const totalMegas = totalKilos / 1000;
        const totalGigas = totalMegas / 1000;
        const totalTeras = totalGigas / 1000;
        if (totalKilos < 100)
          return (totalKilos < 10 ? "0" : "") + totalKilos.toFixed(2) + " KB";
        if (totalMegas < 100)
          return (totalMegas < 10 ? "0" : "") + totalMegas.toFixed(2) + " MB";
        if (totalGigas < 100)
          return (totalGigas < 10 ? "0" : "") + totalGigas.toFixed(2) + " GB";
        return (totalTeras < 10 ? "0" : "") + totalTeras.toFixed(2) + " TB";
      }

      document.querySelectorAll(".expand-button").forEach((el) =>
        el.addEventListener("click", ({ target }) => {
          const parent = target.parentElement;
          if (parent.classList.contains("max-h-[60px]")) {
            target.classList.replace("rotate-45", "rotate-[225deg]");
            parent.classList.replace("max-h-[60px]", "max-h-[2000px]");
          } else {
            parent.classList.replace("max-h-[2000px]", "max-h-[60px]");
            target.classList.replace("rotate-[225deg]", "rotate-45");
          }
        })
      );

      let loaded = false;
      const charts = {};
      const totalDownloadEl = document.getElementById("total-download");
      const totalUploadEl = document.getElementById("total-upload");
      const currnetDownloadEl = document.getElementById("current-download");
      const currentUploadEl = document.getElementById("current-upload");

      var ws = new WebSocket("ws://" + window.location.host + "/ws");
      ws.onopen = () => {
        console.log("ws opend");
      };
      ws.onmessage = ({ data }) => {
        const {
          servers,
          totalDownload,
          totalUpload,
          currentDownload,
          currentUpload,
        } = JSON.parse(data);

        if (!loaded) {
          for (const s of servers) {
            const chart = new Chart(
              document.getElementById(s.ClientAddress + "-chart"),
              {
                type: "line",
                options: {
                  responsive: true,
                  maintainAspectRatio: false,
                  plugins: {
                    legend: {
                      labels: {
                        // This more specific font property overrides the global property
                        font: {
                          size: 10,
                        },
                      },
                    },
                  },
                  scales: {
                    x: {
                      ticks: {
                        font: {
                          size: 8,
                        },
                      },
                    },
                    y: {
                      ticks: {
                        font: {
                          size: 8,
                        },
                      },
                    },
                  },
                },
                data: {
                  labels: [],
                  datasets: [
                    {
                      label: "Download (MB/s)",
                      data: [],
                      tension: 0.2,
                      pointRadius: 0,
                    },
                    {
                      label: "Upload (MB/s)",
                      data: [],
                      tension: 0.2,
                      pointRadius: 0,
                    },
                  ],
                },
              }
            );
            charts[s.ClientAddress] = chart;
          }
          loaded = true;
        }

        servers.forEach((s) => {
          const chart = charts[s.ClientAddress].data;
          chart.labels.push(new Date().toTimeString().split(" ")[0]);
          chart.datasets[0].data.push(s.CurrentDownload / 1024000);
          chart.datasets[1].data.push(s.CurrentUpload / 1024000);
          if (chart.labels.length == 120) {
            chart.datasets[0].data = chart.datasets[0].data.slice(59);
            chart.datasets[1].data = chart.datasets[1].data.slice(59);
            chart.labels = chart.labels.slice(59);
          }
          charts[s.ClientAddress].update();

          document.getElementById(s.ClientAddress + "-status").textContent =
            s.Status;
          if (s.Status === "up")
            document
              .getElementById(s.ClientAddress + "-status")
              .classList.replace("text-red-500", "text-green-500");
          else
            document
              .getElementById(s.ClientAddress + "-status")
              .classList.replace("text-green-500", "text-red-500");
          document.getElementById(
            s.ClientAddress + "-total-download"
          ).textContent = formatBytes(s.TotalDownload);
          document.getElementById(
            s.ClientAddress + "-total-upload"
          ).textContent = formatBytes(s.TotalUpload);
          document.getElementById(
            s.ClientAddress + "-current-download"
          ).textContent = formatBytes(s.CurrentDownload);
          document.getElementById(
            s.ClientAddress + "-current-upload"
          ).textContent = formatBytes(s.CurrentUpload);
          document.getElementById(
            s.ClientAddress + "-attempted-connections"
          ).textContent = s.AttemptedConnections;
          document.getElementById(
            s.ClientAddress + "-accepted-connections"
          ).textContent = s.AcceptedConnections;
          document.getElementById(
            s.ClientAddress + "-active-connections"
          ).textContent = s.ActiveConnections;
          document.getElementById(
            s.ClientAddress + "-latest-connection"
          ).textContent = formatSeconds(s.LatestConnection);
        });

        totalDownloadEl.textContent = formatBytes(totalDownload);
        totalUploadEl.textContent = formatBytes(totalUpload);
        currnetDownloadEl.textContent = formatBytes(currentDownload);
        currentUploadEl.textContent = formatBytes(currentUpload);
      };
      ws.onclose = () => {
        console.log("ws closed");
      };
    </script>
  </body>
</html>
